---
import '../styles/global.css';
import BaseLayout from "../layouts/BaseLayout.astro";

const pageTitle = "Recommended Music"
---

<BaseLayout pageTitle={pageTitle}>
<ul>
  <li><a href="https://www.youtube.com/watch?v=f6k0FlHGrZE">Mushroom Jazz 2</a></li>
  <li><a href="https://www.youtube.com/watch?v=ZHIflZTgPn0">LTJ Bukem Presents Earth: Volume One</a></li>
  <li><a href="https://www.youtube.com/watch?v=OTnxqXCsGjg">Cookin' Ingredients: Step One</a></li>
</ul>
</BaseLayout>