---
import '../styles/global.css';

const pageTitle = "Recommended Music"
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle}</title>
  </head>
  <body>
    <a href="/">Home</a>
    <a href="/about/">About</a>
    <a href="/blog/">Blog</a>
    <a href="/recommended-music/">Music</a>
    
    <h1>Recommended Tunes</h1>
    <ul>
      <li><a href="https://www.youtube.com/watch?v=f6k0FlHGrZE">Mushroom Jazz 2</a></li>
      <li><a href="https://www.youtube.com/watch?v=ZHIflZTgPn0">LTJ Bukem Presents Earth: Volume One</a></li>
      <li><a href="https://www.youtube.com/watch?v=OTnxqXCsGjg">Cookin' Ingredients: Step One</a></li>
    </ul>
  </body>
</html>
